*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
   /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    width: 100%;*/
}
.guia{
    color: black;
    background-color: rgb(255, 240, 237);
    display: flex;
    align-items: center;
    height: 40vh;
    font-size: 20px;
}
div#imagen{
    position: relative;
   left: 520px;
}
h1#h1Texto{
   position: relative;
   left: 323px;
}
p#pTexto{
    position: relative;
   left: 323px;
}
div#imagen{
   

}

.TodasBoxPerguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    margin: 0;
    width: 100%;
}
.BoxPerguntas {
    
    width: 100%;
    max-width: 600px;
}
.BoxPerguntas details summary{
    background-color: white;
    padding: 3%;
    /*border-bottom: 2px solid #282828;*/
    color:black;
    font-weight: 600;
}
.BoxPerguntas details p{
    background-color: #282828;
    color: white;
    padding: 3%;
}