*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
 font-family:'Quicksand', sans-serif;
 background-color: white;
 color:black;
}
p{
    text-align: justify;
}
.container{
    color: black;
    background-color: rgb(255, 240, 237);
    display: flex;
    align-items: center;
    height: 40vh;
    font-size: 20px;
}
div#img{
    position: relative;
   left: 520px;
}
h1#h1Text{
   position: relative;
   left: 323px;
}
p#pText{
    position: relative;
   left: 323px;
}
.Perguntas{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 2px solid black;
    cursor: pointer;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3 {
    font-size: 1.3rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.3rem;
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s ease-in;
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}